
// _variables.scss
$textColor: #fff;
$secondaryTextColor: #000;
$white: #fff;
$gray: #666; 

$blue1: #1B6CA7;   // Adicione esta linha
$blue2: #442BDB;   // Adicione esta linha
$pink: #89223B;  
$yellow: #9C7910;  // Adicione esta linha (usada em outras partes do projeto)
$purple: #4F2AC3;

